<!DOCTYPE html>
<html lang="ja">
  <head th:insert="common :: meta_header"> </head>
  <body>
    <header th:insert="common :: header"></header>
    <div class="top-wrapper">
      <div class="container">
        <h1 class="page-title">ショッピングカート</h1>
        <!-- table -->
        <div th:if="${order.orderItemList.size == 0}" align="center">
          <span>カートに商品がありません</span>
        </div>
        <div class="row" th:if="${order.orderItemList.size>0}">
          <table class="striped">
            <thead>
              <tr>
                <th class="cart-table-th">商品名</th>
                <th>サイズ、価格(税抜)、数量</th>
                <th>トッピング、価格(税抜)</th>
                <th>小計</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="orderItem:${order.orderItemList}">
                <td class="cart-item-name">
                  <div class="cart-item-icon">
                    <img th:src="@{/img_coffee/}+${orderItem.item.imagePath}" />
                  </div>
                  <span th:text="${orderItem.item.name}"
                    >ハワイアンパラダイス</span
                  >
                </td>
                <td>
                  <span class="price" th:text="${orderItem.size}">&nbsp;Ｌ</span
                  >&nbsp;&nbsp;

                  <span
                    th:if="${#strings.toString(orderItem.size).equals('M')}"
                    th:text="${#numbers.formatInteger(orderItem.item.priceM,1,'COMMA')+'円'}"
                  >
                  </span>
                  <span
                    th:if="${#strings.toString(orderItem.size).equals('L')}"
                    th:text="${#numbers.formatInteger(orderItem.item.priceL,1,'COMMA')+'円'}"
                  >
                  </span>
                  &nbsp;&nbsp;
                  <span th:text="${orderItem.quantity}+'個'">1個</span>
                </td>
                <td>
                  <div th:each="ordertopping:${orderItem.orderToppingList}">
                    <span th:text="${ordertopping.topping.name}">ピーマン</span>
                    <span
                      th:if="${#strings.toString(orderItem.size).equals('M')}"
                    >
                      <span
                        th:text="${#numbers.formatInteger(ordertopping.topping.priceM,1,'COMMA')+'円'}"
                        >200円</span
                      ></span
                    >
                    <span
                      th:if="${#strings.toString(orderItem.size).equals('L')}"
                    >
                      <span
                        th:text="${#numbers.formatInteger(ordertopping.topping.priceL,1,'COMMA')+'円'}"
                        >300円</span
                      ></span
                    >
                  </div>
                </td>
                <td>
                  <div class="text-center">
                    <span
                      th:text="${#numbers.formatInteger(orderItem.getSubTotal(),1,'COMMA')+'円'}"
                    >
                      3,280円</span
                    >
                  </div>
                </td>
                <td>
                  <form th:action="@{/shoppingCart/delete}" method="post">
                    <input
                      type="hidden"
                      name="orderItemId"
                      th:value="${orderItem.id}"
                    />
                    <button type="submit" class="btn search-btn">
                      <span>カートから削除</span>
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row cart-total-price" th:if="${order.orderItemList.size>0}">
          <div>
            消費税：<span
              th:text="${#numbers.formatInteger(order.getTax(),1,'COMMA')+'円'}"
            >
              8,000円</span
            >
          </div>
          <div>
            ご注文金額合計：<span
              th:text="${#numbers.formatInteger(order.getCalcTotalPrice(),1,'COMMA')+'円'}"
            >
              38,000円</span
            >
            (税込)
          </div>
        </div>
        <form th:action="@{/showOrderConfirm/}" method="post">
          <input type="hidden" th:value="${order.id}" name="orderId" />
          <div
            class="row order-confirm-btn"
            th:if="${order.orderItemList.size>0}"
          >
            <button
              class="btn search-btn"
              type="submit"
              <!--
              onclick="location.href='order_confirm.html'"
              --
            >
              >
              <span>注文に進む</span>
            </button>
          </div>
        </form>
      </div>
      <!-- end container -->
    </div>
    <!-- end top-wrapper -->
    <footer th:insert="common :: footer"></footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
