<!DOCTYPE html>
<html lang="ja">
  <head th:insert="common :: meta_header"> </head>
  <body>
    <header th:insert="common :: header"></header>
    <!-- search form -->
    <div class="search-wrapper">
      <div class="container">
        <form method="get" class="search-form" th:action="@{/}">
          <input
            type="text"
            name="fuzzyName"
            class="search-name-input"
            list="fuzzyName"
          />
          <datalist id="fuzzyName">
            <option
              th:each="searchItem:${searchItemList}"
              th:value="${searchItem.name}"
            ></option>
          </datalist>
          <button class="btn search-btn" type="submit">
            <span>検　索</span>
          </button>
        </form>
      </div>
    </div>

    <!-- item list -->
    <div class="item-wrapper">
      <div class="container">
        <span th:text="${noItemMessage}" class="error"></span>
        <div class="items pagingItemList">
          <div class="item" th:each="item:${itemList}">
            <div class="item-icon">
              <a th:href="@{/showItemDetail/?id=}+${item.id}">
                <img
                  src="../static/img_coffee/1.jpg"
                  th:src="@{img_coffee/}+${item.imagePath}"
              /></a>
            </div>
            <a
              href="item_detail.html"
              th:href="@{/showItemDetail/?id=}+${item.id}"
              th:text="${item.name}"
              >ハワイアンパラダイス</a
            ><br />
            <span class="price">Ｍ</span
            ><span th:text="${item.priceM}">1,380円(税抜)</span
            ><span>円(税抜)</span><br />
            <span class="price">Ｌ</span
            ><span th:text="${item.priceL}">2,380円(税抜)</span
            ><span>円(税抜)</span><br />
          </div>
        </div>
      </div>
    </div>

    <footer th:insert="common :: footer"></footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/gh/alfrcr/paginathing/dist/paginathing.min.js"
    ></script>
    <script>
      $(function () {
        $(".pagingItemList").paginathing({
          //親要素のclassを記述
          perPage: 9, //1ページあたりの表示件数
          prevText: '<i class="fas fa-angle-left"></i>', //1つ前のページへ移動するボタンのテキスト
          nextText: '<i class="fas fa-angle-right"></i>', //1つ次のページへ移動するボタンのテキスト
          activeClass: "navi-active", //現在のページ番号に任意のclassを付与できます
          firstText: '<i class="fas fa-angle-double-left"></i>', // "最初ページ"に移動するボタンのテキスト
          lastText: '<i class="fas fa-angle-double-right"></i>', // "最後のページ"に移動するボタンのテキスト
        });
      });
    </script>
  </body>
</html>
