<!DOCTYPE html>
<html lang="ja">
  <head th:insert="common :: meta_header"> </head>
  <body>
    <header th:insert="common :: header"></header>
    <div class="top-wrapper">
      <div class="container">
        <h1 class="page-title" th:text="${item.name}">Hawaiianパラダイス</h1>
        <div class="row">
          <form th:action="@{/shoppingCart/insert}" method="post">
            <div class="row item-detail">
              <div class="item-icon">
                <img
                  src="../static/img_aloha/1.jpg"
                  th:src="@{/img_coffee/}+${item.imagePath}"
                />
              </div>
              <div class="item-intro" th:text="${item.description}">
                ハワイで取れる名産物でかつオーガニックな食料がふんだんに使われたローカルフーズです。健康志向の方に大人気の商品です。
              </div>
            </div>
            <div class="row item-size">
              <div class="item-hedding">サイズ</div>
              <div>
                <label>
                  <input
                    id="size-m"
                    name="size"
                    type="radio"
                    checked="checked"
                    class="size calcPrice"
                    th:value="M"
                  />
                  <span>
                    &nbsp;<span class="price">Ｍ</span>&nbsp;&nbsp;<span
                      th:text="${item.priceM}"
                      id="sizeM"
                      >1,380</span
                    ></span
                  ><span>円(税抜)</span>
                </label>
                <label>
                  <input
                    id="size-l"
                    name="size"
                    type="radio"
                    class="size calcPrice"
                    th:value="L"
                  />
                  <span>
                    &nbsp;<span class="price">Ｌ</span>&nbsp;&nbsp;<span
                      th:text="${item.priceL}"
                      id="sizeL"
                      >2,380円(税抜)</span
                    ></span
                  ><span>円(税抜)</span>
                </label>
              </div>
            </div>
            <div class="row item-toppings">
              <div class="item-hedding">
                トッピング：&nbsp;1つにつき
                <span>&nbsp;Ｍ&nbsp;</span>&nbsp;&nbsp;200円(税抜)
                <span>&nbsp;Ｌ</span>&nbsp;&nbsp;300円(税抜)
              </div>
              <div id="topping">
                <div th:each="topping:${toppingMap}">
                  <label class="item-topping">
                    <input
                      type="checkbox"
                      class="calcPrice"
                      name="orderToppingList"
                      th:value="${topping.key}"
                    />
                    <span th:text="${topping.value}">ハワイアンソルト</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row item-quantity">
              <div class="item-hedding item-hedding-quantity">数量</div>
              <div class="item-quantity-selectbox">
                <div class="input-field col s12">
                  <select
                    class="browser-default calcPrice"
                    id="pizanum"
                    name="quantity"
                  >
                    <option name="quantity" value="1" selected>1</option>
                    <option name="quantity" value="2">2</option>
                    <option name="quantity" value="3">3</option>
                    <option name="quantity" value="4">4</option>
                    <option name="quantity" value="5">5</option>
                    <option name="quantity" value="6">6</option>
                    <option name="quantity" value="7">7</option>
                    <option name="quantity" value="8">8</option>
                    <option name="quantity" value="9">9</option>
                    <option name="quantity" value="10">10</option>
                    <option name="quantity" value="11">11</option>
                    <option name="quantity" value="12">12</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row item-total-price">
              <span>この商品金額：</span>
              <span
                id="total-price"
                th:text="${#numbers.formatInteger(item.priceM,1,'COMMA')}"
                >38,000</span
              >
              <span>&nbsp;円(税抜)</span>
            </div>
            <input type="hidden" th:value="${item.id}" name="itemId" />
            <div class="row item-cart-btn">
              <button
                class="btn"
                type="submit"
                <!--
                onclick="location.href='cart_list.html'"
                --
              >
                >
                <i class="material-icons left">add_shopping_cart</i>
                <span>カートに入れる</span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- end container -->
    </div>
    <!-- end top-wrapper -->
    <footer th:insert="common :: footer"></footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script th:src="@{/js/item_detail.js}"></script>
  </body>
</html>
