<!DOCTYPE html>
<html lang="ja">
  <head th:insert="common :: meta_header"> </head>
  <body>
    <header th:insert="common :: header"></header>
    <div class="top-wrapper">
      <div class="container">
        <h1 class="page-title">注文内容確認</h1>
        <!-- table -->
        <div class="row">
          <table class="striped">
            <thead>
              <tr>
                <th class="cart-table-th">商品名</th>
                <th>サイズ、価格(税抜)、数量</th>
                <th>トッピング、価格(税抜)</th>
                <th>小計</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="orderItem:${order.orderItemList}">
                <td class="cart-item-name">
                  <div class="cart-item-icon">
                    <img th:src="@{/img_coffee/}+${orderItem.item.imagePath}" />
                  </div>
                  <span th:text="${orderItem.item.name}"
                    >ハワイアンパラダイス</span
                  >
                </td>
                <td>
                  <span class="price" th:text="${orderItem.size}">&nbsp;Ｌ</span
                  >&nbsp;&nbsp;
                  <span th:if="${orderItem.size == 'M'}">
                    <span th:text="${orderItem.item.priceM}"
                      >2,380円</span
                    ></span
                  >
                  <span th:if="${orderItem.size == 'L'}">
                    <span th:text="${orderItem.item.priceL}"
                      >3,380円</span
                    ></span
                  >
                  &nbsp;&nbsp;
                  <span th:text="${orderItem.quantity}">1個</span>
                </td>
                <td>
                  <ul>
                    <li th:each="topping:${orderItem.orderToppingList}">
                      <span th:text="${topping.name}">ピーマン</span>
                      <span th:if="${orderItem.size == 'M'}">
                        <span th:text="${topping.priceM}">200円</span></span
                      >
                      <span th:if="${orderItem.size == 'L'}">
                        <span th:text="${topping.priceL}">300円</span></span
                      >
                    </li>
                  </ul>
                </td>
                <td>
                  <div class="text-center" th:text="${orderItem.getSubTotal()}">
                    3,280円
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row cart-total-price">
          <div>消費税：<span th:text="${order.getTax()}"> 8,000円</span></div>
          <div>
            ご注文金額合計：<span th:text="${order.getCalcTotalPrice()}">
              38,000円</span
            >
            (税込)
          </div>
        </div>
       <form action="order_finished.html" th:action="@{/order}" th:object="${orderForm}">
        <h2 class="page-title">お届け先情報</h2>
        <div class="order-confirm-delivery-info">
          <div class="row">
            <div class="input-field">
              <input id="name" type="text" name="destinationName" th:feild="*{destinationName}"/>
              <label for="name">お名前</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <input id="email" type="email" name="destinationEmail" th:feild="*{destinationEmail}"/>
              <label for="email">メールアドレス</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <input id="zipcode" type="text" maxlength="7" name="destinationZipcode" th:feild="*{destinationZipcode}" />
              <label for="zipcode">郵便番号</label>
              <button class="btn" type="button">
                <span>住所検索</span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <select class="browser-default" id="pref" name="destinationPref">
                <option value="" disabled selected>都道府県</option>
                <option value="北海道" th:feild="*{destinationPref}">北海道</option>
                <option value="青森県" th:feild="*{destinationPref}">青森県</option>
                <option value="岩手県" th:feild="*{destinationPref}">岩手県</option>
                <option value="宮城県" th:feild="*{destinationPref}">宮城県</option>
                <option value="秋田県" th:feild="*{destinationPref}">秋田県</option>
                <option value="山形県" th:feild="*{destinationPref}">山形県</option>
                <option value="福島県" th:feild="*{destinationPref}">福島県</option>
                <option value="茨城県" th:feild="*{destinationPref}">茨城県</option>
                <option value="栃木県" th:feild="*{destinationPref}">栃木県</option>
                <option value="群馬県" th:feild="*{destinationPref}">群馬県</option>
                <option value="埼玉県" th:feild="*{destinationPref}">埼玉県</option>
                <option value="千葉県" th:feild="*{destinationPref}">千葉県</option>
                <option value="東京都" th:feild="*{destinationPref}">東京都</option>
                <option value="神奈川県" th:feild="*{destinationPref}">神奈川県</option>
                <option value="新潟県" th:feild="*{destinationPref}">新潟県</option>
                <option value="富山県" th:feild="*{destinationPref}">富山県</option>
                <option value="石川県" th:feild="*{destinationPref}">石川県</option>
                <option value="福井県" th:feild="*{destinationPref}">福井県</option>
                <option value="山梨県" th:feild="*{destinationPref}">山梨県</option>
                <option value="長野県" th:feild="*{destinationPref}">長野県</option>
                <option value="岐阜県" th:feild="*{destinationPref}">岐阜県</option>
                <option value="静岡県" th:feild="*{destinationPref}">静岡県</option>
                <option value="愛知県" th:feild="*{destinationPref}">愛知県</option>
                <option value="三重県" th:feild="*{destinationPref}">三重県</option>
                <option value="滋賀県" th:feild="*{destinationPref}">滋賀県</option>
                <option value="京都府" th:feild="*{destinationPref}">京都府</option>
                <option value="大阪府" th:feild="*{destinationPref}">大阪府</option>
                <option value="兵庫県" th:feild="*{destinationPref}">兵庫県</option>
                <option value="奈良県" th:feild="*{destinationPref}">奈良県</option>
                <option value="和歌山県" th:feild="*{destinationPref}">和歌山県</option>
                <option value="鳥取県" th:feild="*{destinationPref}">鳥取県</option>
                <option value="島根県" th:feild="*{destinationPref}">島根県</option>
                <option value="岡山県" th:feild="*{destinationPref}">岡山県</option>
                <option value="広島県" th:feild="*{destinationPref}">広島県</option>
                <option value="山口県" th:feild="*{destinationPref}">山口県</option>
                <option value="徳島県" th:feild="*{destinationPref}">徳島県</option>
                <option value="香川県" th:feild="*{destinationPref}">香川県</option>
                <option value="愛媛県" th:feild="*{destinationPref}">愛媛県</option>
                <option value="高知県" th:feild="*{destinationPref}">高知県</option>
                <option value="福岡県" th:feild="*{destinationPref}">福岡県</option>
                <option value="佐賀県" th:feild="*{destinationPref}">佐賀県</option>
                <option value="長崎県" th:feild="*{destinationPref}">長崎県</option>
                <option value="熊本県" th:feild="*{destinationPref}">熊本県</option>
                <option value="大分県" th:feild="*{destinationPref}">大分県</option>
                <option value="宮崎県" th:feild="*{destinationPref}">宮崎県</option>
                <option value="鹿児島県" th:feild="*{destinationPref}">鹿児島県</option>
                <option value="沖縄県" th:feild="*{destinationPref}">沖縄県</option>
              </select>
            </div>
            <div class="input-field col s4">
              <input id="municipalities" type="text" name="destinationMunicipalities" th:feild="*{destinationMunicipalities}"/>
              <label for="municipalities">市区町村</label>
            </div>
            <div class="input-field col s4">
              <input id="address" type="text" name="destinationAddress" th:feild="*{destinationAddress}"/>
              <label for="address">住所</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <input id="tel" type="tel" name="destinationTel" th:feild="*{destinationTel}" />
              <label for="tel">電話番号</label>
            </div>
          </div>
          <div class="row order-confirm-delivery-datetime">
            <div class="input-field">
              <input id="deliveryDate" type="date" name="deliveryDate" th:feild="*{deliveryDate}"/>
              <label for="address">配達日時</label>
            </div>
            <label class="order-confirm-delivery-time">
              <input
                name="deliveryTime"
                type="radio"
                value="10時"
                checked="checked"
                th:feild="*{deliveryTime}"
              />
              <span>10時</span>
            </label>
            <label class="order-confirm-delivery-time">
              <input name="deliveryTime" type="radio" value="11時"  th:feild="*{deliveryTime}"/>
              <span>11時</span>
            </label>
            <label class="order-confirm-delivery-time">
              <input name="deliveryTime" type="radio" value="12時"  th:feild="*{deliveryTime}"/>
              <span>12時</span>
            </label>
            <label class="order-confirm-delivery-time">
              <input name="deliveryTime" type="radio" value="13時"  th:feild="*{deliveryTime}"/>
              <span>13時</span>
            </label>
            <label class="order-confirm-delivery-time">
              <input name="deliveryTime" type="radio" value="14時"  th:feild="*{deliveryTime}"/>
              <span>14時</span>
            </label>
            <label class="order-confirm-delivery-time">
              <input name="deliveryTime" type="radio" value="15時"  th:feild="*{deliveryTime}"/>
              <span>15時</span>
            </label>
            <label class="order-confirm-delivery-time">
              <input name="deliveryTime" type="radio" value="16時"  th:feild="*{deliveryTime}"/>
              <span>16時</span>
            </label>
            <label class="order-confirm-delivery-time">
              <input name="deliveryTime" type="radio" value="17時"  th:feild="*{deliveryTime}"/>
              <span>17時</span>
            </label>
            <label class="order-confirm-delivery-time">
              <input name="deliveryTime" type="radio" value="18時"  th:feild="*{deliveryTime}"/>
              <span>18時</span>
            </label>
          </div>
        </div>

        <h2 class="page-title">お支払い方法</h2>
        <div class="row order-confirm-payment-method">
          <span>
            <label class="order-confirm-payment-method-radio">
              <input
                name="paymentMethod"
                type="radio"
                value="1"
                checked="checked"
                th:feild="*{paymentMethod}"
              />
              <span>代金引換</span>
            </label>
            <label class="order-confirm-payment-method-radio">
              <input name="paymentMethod" type="radio" value="2" th:feild="*{paymentMethod}"/>
              <span>クレジットカード</span>
            </label>
          </span>
        </div>
        <div class="row order-confirm-btn">
          <button
            class="btn"
            type="button"
            onclick="location.href='order_finished.html'"
          >
            <span>この内容で注文する</span>
          </button>
        </div>
      </div></form>
      <!-- end container -->
    </div>
    <!-- end top-wrapper -->
    <footer th:insert="common :: footer"></footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
