<!DOCTYPE html>
<html lang="ja">
  <head th:insert="common :: meta_header"> </head>
  <body>
    <header th:insert="common :: header"></header>
    <div class="top-wrapper">
      <div class="container">
        <h1 class="page-title">注文内容確認</h1>
        <!-- table -->
        <div class="row">
          <table class="striped">
            <thead>
              <tr>
                <th class="cart-table-th">商品名</th>
                <th>サイズ、価格(税抜)、数量</th>
                <th>トッピング、価格(税抜)</th>
                <th>小計</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="orderItem:${order.orderItemList}">
                <td class="cart-item-name">
                  <div class="cart-item-icon">
                    <img th:src="@{/img_coffee/}+${orderItem.item.imagePath}" />
                  </div>
                  <span th:text="${orderItem.item.name}"
                    >ハワイアンパラダイス</span
                  >
                </td>
                <td>
                  <span
                    th:if="${#strings.toString(orderItem.size).equals('M')}"
                    th:text="${orderItem.item.priceM}"
                  >
                  </span>
                  <span
                    th:if="${#strings.toString(orderItem.size).equals('L')}"
                    th:text="${orderItem.item.priceL}"
                  >
                  </span
                  >円 &nbsp;&nbsp;
                  <span th:text="${orderItem.quantity}">1個</span>
                </td>
                <td>
                  <ul>
                    <li th:each="ordertopping:${orderItem.orderToppingList}">
                      <span th:text="${ordertopping.topping.name}"
                        >ピーマン</span
                      >
                      <span
                        th:if="${#strings.toString(orderItem.size).equals('M')}"
                      >
                        <span th:text="${ordertopping.topping.priceM}"
                          >200円</span
                        >円</span
                      >
                      <span
                        th:if="${#strings.toString(orderItem.size).equals('L')}"
                      >
                        <span th:text="${ordertopping.topping.priceL}"
                          >300円</span
                        >円</span
                      >
                    </li>
                  </ul>
                </td>
                <td>
                  <div class="text-center">
                    <span th:text="${orderItem.getSubTotal()}">3,280円</span>円
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row cart-total-price">
          <div>消費税：<span th:text="${order.getTax()}"> 8,000円</span>円</div>
          <div>
            ご注文金額合計：<span th:text="${order.getCalcTotalPrice()}">
              38,000円</span
            >
            円(税込)
          </div>
        </div>
        <h2 class="page-title">お届け先情報</h2>
        <form
          th:action="@{/order}"
          action="order_finished.html"
          th:object="${orderForm}"
          method="post"
        >
          <input type="hidden" name="orderId" th:value="${orderId}" />
          <div class="order-confirm-delivery-info">
            <div class="row">
              <div class="input-field">
                <div class="error" th:errors="*{destinationName}">
                  名前を入力して下さい
                </div>
                <input
                  id="name"
                  type="text"
                  name="destinationName"
                  th:field="*{destinationName}"
                />
                <label for="name">お名前</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                <div class="error" th:errors="*{destinationEmail}">
                  メールアドレスの形式が不正です
                </div>
                <input
                  id="email"
                  type="email"
                  name="destinationEmail"
                  th:field="*{destinationEmail}"
                />
                <label for="email">メールアドレス</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                <div class="error" th:errors="*{destinationZipcode}">
                  郵便番号はXXX-XXXXの形式で入力してください
                </div>
                <input
                  id="zipcode"
                  type="text"
                  maxlength="8"
                  name="destinationZipcode"
                  th:field="*{destinationZipcode}"
                />
                <label for="zipcode">郵便番号</label>
                <button class="btn" type="button" id="get_address_btn">
                  <span>住所検索</span>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                <div class="error" th:errors="*{destinationPref}">
                  都道府県を入力して下さい
                </div>
                <select
                  class="browser-default"
                  id="pref"
                  name="destinationPref"
                  th:field="*{destinationPref}"
                >
                  <option value="" disabled selected>都道府県</option>
                  <option value="北海道">北海道</option>
                  <option value="青森県">青森県</option>
                  <option value="岩手県">岩手県</option>
                  <option value="宮城県">宮城県</option>
                  <option value="秋田県">秋田県</option>
                  <option value="山形県">山形県</option>
                  <option value="福島県">福島県</option>
                  <option value="茨城県">茨城県</option>
                  <option value="栃木県">栃木県</option>
                  <option value="群馬県">群馬県</option>
                  <option value="埼玉県">埼玉県</option>
                  <option value="千葉県">千葉県</option>
                  <option value="東京都">東京都</option>
                  <option value="神奈川県">神奈川県</option>
                  <option value="新潟県">新潟県</option>
                  <option value="富山県">富山県</option>
                  <option value="石川県">石川県</option>
                  <option value="福井県">福井県</option>
                  <option value="山梨県">山梨県</option>
                  <option value="長野県">長野県</option>
                  <option value="岐阜県">岐阜県</option>
                  <option value="静岡県">静岡県</option>
                  <option value="愛知県">愛知県</option>
                  <option value="三重県">三重県</option>
                  <option value="滋賀県">滋賀県</option>
                  <option value="京都府">京都府</option>
                  <option value="大阪府">大阪府</option>
                  <option value="兵庫県">兵庫県</option>
                  <option value="奈良県">奈良県</option>
                  <option value="和歌山県">和歌山県</option>
                  <option value="鳥取県">鳥取県</option>
                  <option value="島根県">島根県</option>
                  <option value="岡山県">岡山県</option>
                  <option value="広島県">広島県</option>
                  <option value="山口県">山口県</option>
                  <option value="徳島県">徳島県</option>
                  <option value="香川県">香川県</option>
                  <option value="愛媛県">愛媛県</option>
                  <option value="高知県">高知県</option>
                  <option value="福岡県">福岡県</option>
                  <option value="佐賀県">佐賀県</option>
                  <option value="長崎県">長崎県</option>
                  <option value="熊本県">熊本県</option>
                  <option value="大分県">大分県</option>
                  <option value="宮崎県">宮崎県</option>
                  <option value="鹿児島県">鹿児島県</option>
                  <option value="沖縄県">沖縄県</option>
                </select>
              </div>
              <div class="input-field col s4">
                <div class="error" th:errors="*{destinationMunicipalities}">
                  市区町村を入力して下さい
                </div>
                <input
                  id="municipalities"
                  type="text"
                  name="destinationMunicipalities"
                  th:field="*{destinationMunicipalities}"
                />
                <label for="municipalities">市区町村</label>
              </div>
              <div class="input-field col s4">
                <div class="error" th:errors="*{destinationAddress}">
                  住所を入力して下さい
                </div>
                <input
                  id="address"
                  type="text"
                  name="destinationAddress"
                  th:field="*{destinationAddress}"
                />
                <label for="address">住所</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                <div class="error" th:errors="*{destinationTel}">
                  電話番号はXXXX-XXXX-XXXXの形式で入力してください
                </div>
                <input
                  id="tel"
                  type="tel"
                  name="destinationTel"
                  th:field="*{destinationTel}"
                />
                <label for="tel">電話番号</label>
              </div>
            </div>
            <div class="row order-confirm-delivery-datetime">
              <div class="input-field">
                <div class="error" th:errors="*{deliveryDate}">
                  配達日を入力して下さい
                </div>
                <div class="error" th:errors="*{deliveryTime}">
                  配達時間を入力して下さい
                </div>
                <input
                  id="deliveryDate"
                  type="date"
                  name="deliveryDate"
                  th:field="*{deliveryDate}"
                />
                <label for="address">配達日時</label>
              </div>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="10"
                  th:field="*{deliveryTime}"
                />
                <span>10時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="11"
                  th:field="*{deliveryTime}"
                />
                <span>11時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="12"
                  th:field="*{deliveryTime}"
                />
                <span>12時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="13"
                  th:field="*{deliveryTime}"
                />
                <span>13時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="14"
                  th:field="*{deliveryTime}"
                />
                <span>14時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="15"
                  th:field="*{deliveryTime}"
                />
                <span>15時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="16"
                  th:field="*{deliveryTime}"
                />
                <span>16時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="17"
                  th:field="*{deliveryTime}"
                />
                <span>17時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="18"
                  th:field="*{deliveryTime}"
                />
                <span>18時</span>
              </label>
            </div>
            <h2 class="page-title">お支払い方法</h2>
            <div class="row order-confirm-payment-method">
              <span>
                <label class="order-confirm-payment-method-radio">
                  <input
                    name="paymentMethod"
                    type="radio"
                    value="1"
                    th:field="*{paymentMethod}"
                    class="showcreditdiv"
                  />
                  <span>代金引換</span>
                </label>
                <label class="order-confirm-payment-method-radio">
                  <input
                    name="paymentMethod"
                    type="radio"
                    value="2"
                    th:field="*{paymentMethod}"
                    class="showcreditdiv"
                  />
                  <span>クレジットカード</span>
                </label>
              </span>
            </div>
            <div id="creditCardDiv" style="display: none">
              <label for="creditCardId">クレジットカード番号</label>
              <span class="error" th:errors="*{creditCardId}"></span>
              <input
                type="text"
                id="creditCardId"
                name="creditCardId"
                th:field="*{creditCardId}"
              /><br />
              <label for="monthOfExpiry">有効期限</label>
              <span class="error" th:errors="*{monthOfExpiry}">
                カードの有効期限が無効です
              </span>
              <div style="display: flex">
                <select
                  class="browser-default"
                  id="monthOfExpiry"
                  name="monthOfExpiry"
                  th:field="*{monthOfExpiry}"
                >
                  <option value="" disabled selected>月</option>
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                  <option value="7">07</option>
                  <option value="8">08</option>
                  <option value="9">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
                <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
                <select
                  class="browser-default"
                  id="yearOfExpiry"
                  name="yearOfExpiry"
                  th:field="*{yearOfExpiry}"
                >
                  <option value="" disabled selected>年</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                  <option value="2031">2031</option>
                  <option value="2032">2032</option>
                  <option value="2033">2033</option>
                  <option value="2034">2034</option>
                  <option value="2035">2035</option>
                </select>
              </div>
              <br />
              <label for="cardHolder">カード名義人</label>
              <span class="error" th:errors="*{cardHolder}"></span>
              <input
                type="text"
                name="cardHolder"
                id="cardHolder"
                th:field="*{cardHolder}"
              /><br />
              <label for="securityCode">セキュリティコード</label>
              <span class="error" th:errors="*{securityCode}">
                セキュリティコードが正しくありません
              </span>
              <input
                type="text"
                name="securityCode"
                id="securityCode"
                th:field="*{securityCode}"
              />
            </div>
            <input type="hidden" name="orderId" th:value="${order.id}" />
          </div>
          <div class="row order-confirm-btn">
            <button class="btn">
              <span>この内容で注文する</span>
            </button>
          </div>
        </form>
      </div>
      <!-- end container -->
    </div>
    <!-- end top-wrapper -->
    <footer th:insert="common :: footer"></footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script th:src="@{/js/auto_input_address.js}"></script>
    <script th:src="@{/js/order_confirm.js}"></script>
  </body>
</html>
