<!DOCTYPE html>
<html lang="ja">
  <head th:insert="common :: meta_header"> </head>
  <body>
    <header th:insert="common :: header"></header>
    <div class="top-wrapper">
      <div class="container">
        <h1 class="page-title">おすすめトッピング投稿一覧</h1>
        <div class="row create-topping-article-btn">
          <button
            class="btn"
            type="button"
            th:attr="onClick='location.href=\''+@{/toppingArticle/toPost}+'\''"
          >
            <i class="material-icons left">border_color</i>
            <span>あなたも投稿してみる！</span>
          </button>
        </div>
        <div th:if="${articleItemList.size == 0}" align="center">
          <span>おすすめトッピング投稿がありません</span>
        </div>
        <div class="row" th:if="${articleItemList.size>0}">
          <table class="striped">
            <tbody>
              <tr th:each="articleItem:${articleItemList}">
                <td class="cart-item-name">
                  <div class="cart-item-icon">
                    <img
                      th:src="@{/img_coffee/}+${articleItem.item.imagePath}"
                    />
                    <!-- ↑このパスめっちゃ嘘 -->
                  </div>
                </td>
                <td>
                  <span th:text="${articleItem.item.name}"
                    >ハワイアンパラダイス</span
                  >
                  <div
                    th:each="articleTopping:${articleItem.articleToppingList}"
                  >
                    <span th:text="${articleTopping.topping.name}"
                      >ピーマン</span
                    >
                  </div>
                </td>
                <td>
                  <div class="text-center">コメントここ</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end container -->
    </div>
    <!-- end top-wrapper -->
    <footer th:insert="common :: footer"></footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
