<!DOCTYPE html>
<html lang="ja">
  <head th:insert="common :: meta_header"> </head>
  <body>
    <header th:insert="common :: header"></header>
    <div class="top-wrapper">
      <div class="container">
        <h1 class="page-title">おすすめトッピング投稿一覧</h1>
        <div class="row create-topping-article-btn">
          <button
            class="btn search-btn"
            type="button"
            th:attr="onClick='location.href=\''+@{/toppingArticle/toPost}+'\''"
          >
            <i class="material-icons left">border_color</i>
            <span>あなたも投稿してみる！</span>
          </button>
        </div>
        <div th:if="${articleItemList.size == 0}" align="center">
          <span>おすすめトッピング投稿がありません</span>
        </div>

        <div class="row flex" th:if="${articleItemList.size>0}">
          <div
            class="card addmarginleft"
            th:each="articleItem:${articleItemList}"
          >
            <div class="card-image waves-effect waves-block waves-light">
              <img
                class="activator"
                src="images/office.jpg"
                th:src="${articleItem.image}"
              />
            </div>
            <div class="card-content">
              <span
                class="card-title activator grey-text text-darken-4"
                th:text="${articleItem.item.name}"
                >Card Title<i class="material-icons right">more_vert</i></span
              >
            </div>
            <div class="card-reveal">
              <span
                class="card-title grey-text text-darken-4"
                th:text="${articleItem.item.name}"
                >Card Title<i class="material-icons right">close</i></span
              >
              <hr />
              <div
                th:each="recommendTopping:${articleItem.recommendToppingList}"
              >
                <p th:text="${recommendTopping.toppingName}"></p>
              </div>
              <hr />
              <p th:text="${articleItem.content}">
                Here is some more information about this product that is only
                revealed once clicked on.
              </p>
            </div>
          </div>
        </div>

        <!-- <div class="row" th:if="${articleItemList.size>0}">
          <table class="striped">
            <tbody>
              <tr th:each="articleItem:${articleItemList}">
                <td class="cart-item-name">
                  <div class="cart-item-icon">
                    <img
                      th:src="${articleItem.image}"
                      idth="300px"
                      height="300px"
                    />
                  </div>
                </td>
                <td>
                  <span th:text="${articleItem.item.name}"
                    >ハワイアンパラダイス</span
                  >
                  <div
                    th:each="recommendTopping:${articleItem.recommendToppingList}"
                  >
                    <span th:text="${recommendTopping.toppingName}"
                      >ピーマン</span
                    >
                  </div>
                </td>
                <td>
                  <div class="text-center">
                    <span th:text="${articleItem.content}"
                      >ハワイアンパラダイス</span
                    >
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
      <!-- end container -->
    </div>
    <!-- end top-wrapper -->
    <footer th:insert="common :: footer"></footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
