<!DOCTYPE html>
<html lang="ja">
  <head th:insert="common :: meta_header"> </head>
  <body>
    <div class="frontshow">
      <header th:insert="common :: header"></header>
      <div class="search-wrapper">
        <div class="container">
          <h4 class="page-title bottomdelete">おすすめトッピング投稿一覧</h4>
          <div class="row create-topping-article-btn">
            <button
              class="btn search-btn rigtht"
              type="button"
              th:attr="onClick='location.href=\''+@{/toppingArticle/toPost}+'\''"
            >
              <i class="material-icons left">border_color</i>
              <span>あなたも投稿してみる！</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="item-wrapper">
      <div class="container">
        <div th:if="${articleItemList.size == 0}" align="center">
          <span>おすすめトッピング投稿がありません</span>
        </div>

        <div class="row flex" th:if="${articleItemList.size>0}">
          <div
            class="card addmarginleft sticky-action"
            th:each="articleItem:${articleItemList}"
          >
            <div class="card-image waves-effect waves-block waves-light">
              <img
                class="activator backshow"
                src="images/office.jpg"
                th:src="${articleItem.image}"
              />
            </div>
            <div class="card-content">
              <span
                class="card-title activator grey-text text-darken-4"
                th:text="${articleItem.item.name}"
                >Card Title<i class="material-icons right">more_vert</i></span
              >
            </div>
            <div class="card-action">
              <span class="click-like" th:if="${articleItem.checkLike == 0}">
                <form th:action="@{/toppingArticle/like}" method="post">
                  <input
                    type="hidden"
                    name="toppingArticleId"
                    th:value="${articleItem.id}"
                  />
                  <button
                    class="like-btn"
                    style="border: none; outline: none; background: transparent"
                    type="submit"
                  >
                    <i class="far fa-heart" style="font-size: 25px"></i></button
                  ><span th:text="${articleItem.likeCount}"></span></form
              ></span>
              <span class="click-like" th:if="${articleItem.checkLike == 1}">
                <form th:action="@{/toppingArticle/deleteLike}" method="post">
                  <input
                    type="hidden"
                    name="toppingArticleId"
                    th:value="${articleItem.id}"
                  />
                  <button
                    class="like-btn"
                    style="border: none; outline: none; background: transparent"
                    type="submit"
                  >
                    <i
                      class="fas fa-heart"
                      style="font-size: 25px; color: red"
                    ></i></button
                  ><span th:text="${articleItem.likeCount}"></span></form
              ></span>
            </div>
            <div class="card-reveal">
              <span
                class="card-title grey-text text-darken-4"
                th:text="${articleItem.item.name}"
                >Card Title<i class="material-icons right">close</i></span
              >
              <hr />
              <span style="font-weight: 600">おすすめトッピング</span>
              <div
                th:each="recommendTopping:${articleItem.recommendToppingList}"
              >
                <p th:text="${recommendTopping.toppingName}"></p>
              </div>
              <hr />
              <span style="font-weight: 600">コメント</span>
              <p th:text="${articleItem.content}">
                Here is some more information about this product that is only
                revealed once clicked on.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- end container -->
    </div>
    <!-- end top-wrapper -->
    <footer th:insert="common :: footer"></footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
